name: coverde_monorepo

environment:
  sdk: ">=3.5.0 <4.0.0"

dev_dependencies:
  coverage: ^1.15.0
  coverde:
    path: packages/coverde_cli
  melos: ^7.3.0
  pub_score_checker:
    path: tools/pub_score_checker

melos:
  categories:
    tools:
      - ./tools/**
    e2e:
      - "**/e2e"

  command:
    clean:
      hooks:
        pre: melos run --include-private .clean

  scripts:
    .clean:
      description: Deep clean-up
      run: >
        git clean
        -dfX
        MELOS_ROOT_PATH

    gen:
      description: Run code generation for a package
      run: >
        dart run build_runner build
        --delete-conflicting-outputs
      exec:
        concurrency: 1
        failFast: true
        orderDependents: true
      packageFilters:
        dependsOn:
          - build_runner
    gen.all:
      description: Run code generation for all packages
      steps:
        - gen
    gen.all.fast:
      description: Run code generation for all packages (multi-threaded)
      run: >
        melos exec
        --depends-on=build_runner
        --order-dependents
        -- "
        dart run build_runner build
        --delete-conflicting-outputs
        "

    spellcheck:
      description: Run spell checking for the entire project
      run: >
        cspell lint
        --config ./.cspell/cspell.yaml
        --no-progress
        "MELOS_ROOT_PATH/**"

    format:
      description: Format a package
      run: >
        dart format .
    format.ci:
      description: Format all packages (CI)
      run: >
        dart format --set-exit-if-changed .

    analyze:
      description: Analyze a package
      run: >
        dart analyze .
    analyze.ci:
      description: Analyze all packages (CI)
      run: >
        dart analyze --fatal-infos --fatal-warnings .

    test:
      description: Run tests and generate coverage trace file for a package
      run: >
        dart run coverde optimize-tests
        --exclude '**/fixtures/**'
        --include 'test/**_test.dart'
        --output=test/optimized_test.dart
        &&
        dart test
        --color
        --coverage-path=coverage/lcov.info
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
      exec:
        concurrency: 1
        orderDependents: true
      packageFilters:
        dependsOn:
          - test
        dirExists:
          - test
    test.e2e:
      description: Run E2E tests
      run: >
        git clean
        -dfX
        .
        &&
        dart test
        --run-skipped
        --tags e2e
        e2e
      packageFilters:
        category:
          - e2e
        dirExists:
          - e2e
      exec:
        concurrency: 1
        orderDependents: true
    test.all:
      description: Run tests for all packages
      steps:
        - test
    test.e2e.all:
      description: Run E2E tests for all packages
      steps:
        - test.e2e
    test.ci:
      description: Run tests for all packages (CI)
      run: >
        melos exec
        --depends-on=test
        --dir-exists=test
        --fail-fast
        --order-dependents
        -- "
        dart run coverde optimize-tests
        --exclude='**/fixtures/**'
        --include='test/**_test.dart'
        --output=test/optimized_test.dart
        &&
        dart test
        --coverage-path=coverage/lcov.info
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
        "
    coverage.merge:
      description: Merge all packages coverage trace files
      run: >
        dart run coverde rm
        --no-dry-run
        MELOS_ROOT_PATH/coverage/filtered.lcov.info
        &&
        melos exec
        --file-exists=coverage/lcov.info
        --
        "
        dart run coverde filter
        --base-directory MELOS_ROOT_PATH
        --filters '\.asset\.dart'
        --input coverage/lcov.info
        --output MELOS_ROOT_PATH/coverage/filtered.lcov.info
        "
    coverage.check:
      description: Check test coverage
      run: >
        dart run coverde check
        --input MELOS_ROOT_PATH/coverage/filtered.lcov.info
        100
    coverage.report:
      description: Generate HTML coverage report
      run: >
        dart run coverde report
        --input MELOS_ROOT_PATH/coverage/filtered.lcov.info
        --output MELOS_ROOT_PATH/coverage/html/

    pub-score.remote:
      description: Check pub score for a selected package.
      run: >
        dart run pub_score_checker check_pub_score remote
        --markdown-output MELOS_PACKAGE_PATH/.dart_tool/remote_pub_score.md
        --package-name MELOS_PACKAGE_NAME
        --threshold 0
      exec:
        concurrency: 1
      packageFilters:
        scope: coverde
    pub-score.local:
      description: Check pub score for a selected package.
      run: >
        dart run pub_score_checker check_pub_score local
        --markdown-output MELOS_PACKAGE_PATH/.dart_tool/local_pub_score.md
        --package-path MELOS_PACKAGE_PATH
        --threshold 0
      exec:
        concurrency: 1
      packageFilters:
        scope: coverde

    # Documentation
    docs.cli:
      description: Resolve CLI README file
      run: >
        dart run MELOS_ROOT_PATH/tools/readmes_resolver/lib/resolve_root_readme.dart
        --description-footer-dir=MELOS_ROOT_PATH/packages/coverde_cli/doc/details/command-description-footers/
        --example-dirs=MELOS_ROOT_PATH/packages/coverde_cli/doc/examples/browser/
        --example-dirs=MELOS_ROOT_PATH/packages/coverde_cli/doc/examples/terminal/
        --example-dirs=MELOS_ROOT_PATH/packages/coverde_cli/doc/examples/markdown/
        --readme=MELOS_ROOT_PATH/packages/coverde_cli/README.md

workspace:
  - packages/coverde_cli/
  - packages/coverde_cli/e2e/
  - tools/package_assets_generator/
  - tools/package_data_generator/
  - tools/pub_score_checker/
  - tools/readmes_resolver/
