name: Check local Pub.dev score for Coverde CLI

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - packages/coverde_cli/**
      - tools/pub_score_checker/**
      - .github/workflows/check_local_pub_score.yaml
      - melos.yaml

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check-local-pub-score:
    name: Check local Pub.dev score for Coverde CLI
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install dart
        uses: dart-lang/setup-dart@v1
      - name: Install melos
        run: dart pub global activate melos 7.3.0
      - name: Initialize melos
        run: melos bs
      - name: Verify local Pub.dev score
        id: local-pub-score-check
        run: |
          set +e
          melos run pub-score.local
          echo "PUB_SCORE_CHECK_RESULT=$?" >> $GITHUB_OUTPUT
      - name: Set step summary
        run: echo "$(cat packages/coverde_cli/.dart_tool/local_pub_score.md)" >> $GITHUB_STEP_SUMMARY
      - name: Finish workflow if local pub score is valid
        if: steps.local-pub-score-check.outputs.PUB_SCORE_CHECK_RESULT == 0
        run: exit 0
      - name: Create or update issue
        run: |
          issueNumber=$(\
            gh issue list \
              --search "${{ env.ISSUE_TITLE }}" \
              --state open \
              --limit 1 \
              --json number \
              --jq '.[0].number // empty'
            )
          if [[ -n $issueNumber ]]; then
            echo "Issue already exists: $issueNumber"
            gh issue edit $issueNumber \
              --body-file ${{ env.ISSUE_BODY_FILEPATH }}
          else
            echo "Issue does not exist"
            gh issue create \
              --title "${{ env.ISSUE_TITLE }}" \
              --body-file ${{ env.ISSUE_BODY_FILEPATH }} \
              --label "triage" \
              --label "p:coverde" \
              --assignee "mrverdant13"
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          ISSUE_TITLE: "bug(coverde-cli): local Pub.dev score is not valid"
          ISSUE_BODY_FILEPATH: packages/coverde_cli/.dart_tool/local_pub_score.md
