name: Check remote Pub.dev score for Coverde CLI

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check-remote-pub-score:
    name: Check remote Pub.dev score for Coverde CLI
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install dart
        uses: dart-lang/setup-dart@v1
      - name: Install melos
        run: dart pub global activate melos 7.3.0
      - name: Initialize melos
        run: melos bs
      - name: Install dependencies
        run: sudo apt-get install -y webp
      - name: Verify remote Pub.dev score
        id: remote-pub-score-check
        run: |
          set +e
          melos run pub-score.remote
          echo "PUB_SCORE_CHECK_RESULT=$?" >> $GITHUB_OUTPUT
      - name: Set step summary
        run: echo "$(cat packages/coverde_cli/.dart_tool/remote_pub_score.md)" >> $GITHUB_STEP_SUMMARY
      - name: Create or update issue
        run: |
          issueNumber=$(\
            gh issue list \
              --search "${{ env.ISSUE_SEARCH_TERM }}" \
              --state open \
              --limit 1 \
              --json number \
              --jq '.[0].number // empty'
            )
          if [[ "${{ steps.remote-pub-score-check.outputs.PUB_SCORE_CHECK_RESULT }}" == "0" ]]; then
            if [[ -n $issueNumber ]]; then
              echo "Issue already exists: $issueNumber"
              gh issue close $issueNumber --comment "Remote Pub.dev score is valid"
            fi
          else
            if [[ -n $issueNumber ]]; then
              echo "Issue already exists: $issueNumber"
              gh issue edit $issueNumber \
                --body-file "${{ env.ISSUE_BODY_FILEPATH }}"
            else
              echo "Issue does not exist"
              gh issue create \
                --title "${{ env.ISSUE_TITLE }}" \
                --body-file "${{ env.ISSUE_BODY_FILEPATH }}" \
                --label "triage" \
                --label "p:coverde" \
                --assignee "mrverdant13"
            fi
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          ISSUE_SEARCH_TERM: "bug coverde-cli remote Pub.dev score is not valid"
          ISSUE_TITLE: "bug(coverde-cli): remote Pub.dev score is not valid"
          ISSUE_BODY_FILEPATH: packages/coverde_cli/.dart_tool/remote_pub_score.md
