name: Check remote Pub.dev score for Coverde CLI

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  check-remote-pub-score:
    name: Check remote Pub.dev score for Coverde CLI
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install dart
        uses: dart-lang/setup-dart@v1
      - name: Install melos
        run: dart pub global activate melos 7.3.0
      - name: Initialize melos
        run: melos bs
      - name: Verify remote Pub.dev score
        id: remote-pub-score-check
        run: |
          set +e
          melos run pub-score.remote
          echo "PUB_SCORE_CHECK_RESULT=$?" >> $GITHUB_OUTPUT
      - name: Set step summary
        run: echo "$(cat packages/coverde_cli/.dart_tool/remote_pub_score.md)" >> $GITHUB_STEP_SUMMARY
      - name: Finish workflow if remote pub score is valid
        if: steps.remote-pub-score-check.outputs.PUB_SCORE_CHECK_RESULT == 0
        run: exit 0
      - name: Check if an issue already exists
        id: existing-issue-check
        run: |
          set +e
          issueNumber=$(gh issue list --search "bug(coverde-cli): remote Pub.dev score is not valid" --state open --json number | jq -r '.[0].number')
          echo "Issue number: $issueNumber"
          echo "issue_number=$issueNumber" >> "$GITHUB_OUTPUT"
      - name: Create or update issue
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: "bug(coverde-cli): remote Pub.dev score is not valid"
          content-filepath: packages/coverde_cli/.dart_tool/remote_pub_score.md
          labels: |
            triage
            p:coverde
          assignees: mrverdant13
          issue-number: ${{ steps.existing-issue-check.outputs.issue_number }}
