name: Resolve READMEs

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/resolve_readmes.yaml
      - packages/coverde_cli/**
      - melos.yaml
      - README.md
      - tools/readmes_resolver/**

jobs:
  resolve-cli-readme:
    name: Resolve CLI README
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install dart
        uses: dart-lang/setup-dart@v1
      - name: Install melos
        run: dart pub global activate melos 7.3.0
      - name: Initialize READMEs resolver
        run: melos bs --scope=readmes_resolver
      - name: Resolve CLI README file
        run: melos run docs.cli
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          base: main
          add-paths: |
            ./packages/coverde_cli/README.md
          branch: docs/update-cli-readme
          commit-message: "docs: update CLI README"
          title: "docs: update CLI README"
          body: Update CLI README.
          delete-branch: true
          author: Coverde Bot <coverde.bot@users.noreply.github.com>
          committer: Coverde Bot <coverde.bot@users.noreply.github.com>
          assignees: mrverdant13
          reviewers: mrverdant13
